.color-picker-row {
  padding: 0;
  margin: 0;
  height: 12px;
}

.picture-editor-cell {
  width: 10px;
  height: 10px;
  border: 1px solid #aaaaaa;
  margin: 1px;
  &.overlay {
    border-color: #efefef;
  }
  &.tile {
    border-color: #aaaaaa !important;
  }
}

.color-picker-cell {
  width: 10px;
  height: 10px;
  border: 1px solid #ffffff;
  margin: 0;
  &.selected {
    padding: 0px;
    border: 1px solid #000000;
  }
}
