# Be sure to restart your server when you modify this file.

# Your secret key is used for verifying the integrity of signed cookies.
# If you change this key, all old signed cookies will become invalid!

# Make sure the secret is at least 30 characters and all random,
# no regular words or you'll be exposed to dictionary attacks.
# You can use `rake secret` to generate a secure secret key.

# Make sure the secrets in this file are kept private
# if you're sharing your code publicly.

development:
  secret_key_base: a452e2ee4df05741704e929bad71bbe1f4c9a0d1c786a9e8c548f116fb5f00744b72f4430b54479bd2e4dc5c1f3a693d15647a575e40add5cd26daa4c2f64f2d

test:
  secret_key_base: ac25784b6f0ca7e5db7720e5ec0b572b115ab706ebe1dee1cecee3ac56b065fd28eb73f18c222886eee2be6fd60b7dcf9ee4046edf42fad80a05ae6f5290e909

# Do not keep production secrets in the repository,
# instead read values from the environment.
production:
  secret_key_base: <%= ENV["SECRET_KEY_BASE"] %>
