<table>
  <tbody>
    {{#each rows as |row|}}
    <tr class="picture-editor-row">
      {{#each row as |col|}}
        {{picture-editor-cell pixel=col}}
      {{/each}}
    </tr>
    {{/each}}
  </tbody>
</table>
