{{outlet}}
<h3>Adventure/Index</h3>
{{#each model as |adventure|}}
  <h4>{{adventure.name}} <LinkTo @route="adventures.adventure" @model={{adventure}}>link</LinkTo></h4>
  <p>{{adventure.descr}}</p>
{{/each}}